<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE> Bot Plugins </TITLE>
      <script src="/socket.io/socket.io.js"></script>
	  <script>
	  		window.nodeRequire = require;
			delete window.require;
			delete window.exports;
			delete window.module;
      </script>
      <!-- Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/knockout.js"></script>
	  <script src="js/socketioplugins.js"></script>
      <style>

      </style>
      <script>

      </script>
	</HEAD>
	<BODY>
		<div id="pluginlist">
			<Label>Plugins List</Label>
			<ul data-bind="foreach: items, value:pluginvalue, optionsValue:pluginname">
		   		<li><a href="#" data-bind="text: name, value:id"> </a> <button data-bind="text:btn_name,click:btn_toggle"> </button></li>
			</ul>
			<Label>Note it need to be manual restart to able to disable or enable those plugins.</Label>
		</div>
   </BODY>
</HTML>
